%div.project
  -if @project.nil?
    %h2
      Project not found :(
  -else 
    %h2= @project.name
  
    %span.project_date
      ="c. #{@project.date.strftime("%B %Y")}"
  
    -if current_user
      %div.button_bar
        %a{:href => "/#{@project.slug}/edit"} Edit
        %a{:href => "/#{@project.slug}/delete"} Delete
  
    %h3 Overview
    %div.description
      =@markdown.render(@project.readme)
    
      - @project.live_sites.each do |site|
        %div.project_link
          %h4
            %a{:href => site.url}= site.url
          =@markdown.render(site.notes)
  
    - if @project.repositories and !@project.repositories.empty?
      %h3 Code
      %div.repositories
        - @project.repositories.each do |repo|
          %h4.name
            %a{:href => repo.url, :class => "repository"}= repo.name
          - if repo.notes
            %div.repository_notes= @markdown.render(repo.notes)